*{
    margin: 0%;
    padding: 0%;
    background: rgb(5, 5, 5);
}

.wrap{
    height: 500px;
    width: 355px;
    padding: 10px;
    margin: 5%;
    margin-left: 500px;
}
h1{
    color: orangered;
    text-align: center;
}

input{
    font-size: 25px;
    padding: 20px;
    text-align: right;
    border-radius: 15px;
    margin-bottom: 15px;
    color: white;

}

.button{
    width: 85px;
    height: 70px;
    position: relative;
    font-size: 25px;
    font-style: bold;
    text-align: center;
    cursor: pointer;
    background: transparent;

}
.button:hover{
    color: orangered;
}

.equal{
    width: 170px;
    height: 70px;
    background: transparent;
    text-align: center;
    font-size: 25px;
}